*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



body{
    
}

img{
    max-height: 100%;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.container::after{
    content: "";
    display: table;
    clear: both;
}

.column{
    background-color: black;
    color: white;
    height: 100px;
    width: calc(100%/3);
    float: left;
}

h1{
    color: #e52f6e;
}


address{
    color: aqua;
}