/*generics*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Fredoka One', cursive
}

img{
    max-height: 100%;
    float: left;
    margin-right: 5px;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
}

.container::after{
    content: "";
    display: table;
    clear: both;
}

.row{
    margin: 0 -20px
}

.column{
    background-color: black;
    color: white;
    height: 100px;
    width: calc(100%/3 - 40px);
    float: left;
    margin: 20px;
}

.descrizione{
    max-height: 100%;
}

h1{
    color: #e52f6e;
}

h1, p{
    text-align: center;
    margin 20px;
}

address{
    color: #4cbee2;
    font-style: normal;
}

h2, span, address{
    margin: 5px;
}