/*generics*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Fredoka One', cursive
}



.container{
    max-width: 1100px;
    margin: 0 auto;
}

.container::after,
.row::after{
    content: "";
    display: table;
    clear: both;
}

.row{
    margin: 0 -20px;
}

.column{
    background-color: black;
    color: white;
    width: calc(100%/3);
    float: left;
    padding: 20px;
}

.card{
    height: 110px;
}

.card-img{
    height: 100%;
    float: left;
}

.card-img > img{
    height: 100%;
}

.card-descrizione{
    height: 100%;
}

h1{
    color: #e52f6e;
}

h1, p{
    text-align: center;
    margin 20px;
}

address{
    color: #4cbee2;
    font-style: normal;
}

h2, span, address{
    margin: 5px;
}